// Define variables for your color scheme

// For example:
$red: #be3737;
$blue: #005792;
$yellow: #fbd341;
$orange: #ff8000;
$green: #20716a;
$light-green: #76b39d;
$gray: #494949;
$light-gray: #e6e7e5;
