
<div id="team">
  <div class="team-content">
    <h2>Team</h2>
    <ul class="list-inline text-center">
      <% ["henri45", "Quitterie1"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle avatar" %>
          <h3><%= gh_username.capitalize %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>
